html {
    background-color: var(--bg-primary);
    color: var(--text-primary);
}

body {
    margin: 0;
    font-family: "MesloLGS NF", Menlo, Monaco, "Courier New", monospace;
}

#app {
    height: 100vh;
}
